@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


html {background-color: #ffffff;
font-family: 'Lato', sans-serif;}
h1 {color: rgba(0,0,0,1);
text-align:center;
vertical-align: bottom;
font-size: 36px;
letter-spacing: 3px;
text-transform: uppercase;}
h3 {color: black; font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase; }
h4 {color: black; font-size: 16px;}
h5 {color: black; font-size: 14px;}
h6 {color: black; font-size: 14px; 
    text-align:center;
line-height: 15%;}
p {color: gray; text-align: center; text-transform:lowercase;}
a {text-decoration: none; color:black;}
a:hover {background-color: yellow;}
header {align-content: center;}
body {align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
li {margin-left:0px}

area a:hover {
    background-color: yellow;
  }

/*--Image Tricks--*/
img.header {
    display: block;
    margin-left: auto;
    margin-right: auto; }

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

footer {
    background-color: white;
}

/*--List Tricks--*/
ul.simple-list {
    text-transform:lowercase;
    text-anchor: middle;
    list-style-type: none;
    text-align: center;
    display: inline;
}

.simple-list a {
    color: white;
}

.simple-list a:hover {background-color: black;}

.nav-cab-container {
    align-content: center;
  }
  
.nav-cab {
    align-content: center;
  }
  
#logo {
    width: 150px;
    padding-bottom: 0px;
}
#spice-rack {
    margin-top: -50px;
    height: 100vh;
}

#circle {
    background: gray;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.affiliate-logos {
  margin: auto;
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding: 15px;
}

.affiliate-logos a:hover {background-color: white;}

.copyright-tag p {
 width: 100%;
 text-align: center;
}


/* LAPTOP + BIGGER */

@media screen and (min-width: 1281px) {
    
    .little-screens {
        display: none;
    }
    .mobile-screens {
        display: none;
    }
  }

/* LARGE SCREENS */
@media screen and (min-width: 721px) and (max-width: 1280px) {
    
    .little-screens {
        display: none;
    }
    .tablet-screens {
        display: none;
    }
  }
/* SMALL SCREENS */
@media screen and (min-width: 321px) and (max-width: 720px) {
    
    .mobile-screens {
        display: none;
    }
    .tablet-screens {
        display: none;
    }
  }

  /* TINY SCREENS */
@media screen and (min-width: 1px) and (max-width: 320px) {
    
    .mobile-screens {
        display: none;
    }
    .tablet-screens {
        display: none;
    }
  }


  
